@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

body {
    background-color: #06101b;
}

h1 {
    font-family: "Satisfy", cursive;
    font-weight: 700;
    font-style: normal;
    color: #beac74;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;


}

h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #beac74;

}

h3 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #beac74;
    font-size: 16px;


}


label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

p.tiny {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
}


.headertext {
    background-color: 1px solid rgba(255, 255, 255, .4);
    padding-top: 80px;
    position: relative;
}

a:hover {
    background-color: #958450;
    color: #06101b;
}