@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

body {
    background-color: #06101b;
}

h1 {
    font-family: "Satisfy", cursive;
    font-weight: 700;
    font-style: normal;
    color: #beac74;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;


}

h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #beac74;

}

h3 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #beac74;
    font-size: 16px;


}


label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

p,
.table {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

td {
    padding: 1px 10px;
}

p.tiny {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
}


.w3-button {
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 32px;
    background-color: #beac74;
    color: #06101b;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a:hover {
    background-color: #958450;
    color: #06101b;
}


/*nav*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #06101b;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;

}

/* Style the links inside the navigation bar */
.navbar a {
    border-top: 1px;
    border-color: #958450;
    width: 20%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 13px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #beac74;
    color: black;
}